@magnetic:registry=https://engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:_password=Y21WbWRHdHVPakF4T2pFM01EazROVEU1TURjNmNVWmhSV3RaVGxKb1pWaEdWRWRVWTNGSFpEWXlaekoyWkhKcQ==
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:username=remakpo
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:email=ENTER_YOUR_EMAIL_HERE
//engci-maven.cisco.com/artifactory/api/npm/magnetic-npm/:always-auth=true
